extends ./../../layout/user-layout

block content
      #page-wrapper
            .row.page-titles
                .col-md-5.align-self-center
                    h3.text-themecolor Technician
                .col-md-7.align-self-center
                    ol.breadcrumb
                        li.breadcrumb-item.active Time Sheet
            .container-fluid
                .row
                    .col-md-12
                        .card
                            .card-body
                                h4  View Time Sheets List
                                .table-responsive
                                    table.table.table-striped.table-bordered
                                        thead
                                            tr
                                                th Sr No
                                                th Employee Name
                                                th State
                                                th Type of Jobs
                                                th View Job
                                        tbody
                                            tr
                                                td 1
                                                td Confirmed
                                                td User
                                                td Confirmed
                                                td
                                                    btn.btn.btn-primary.btn-sm View
                                                //- td Confirmed
                                            tr
                                                td 2
                                                td Confirmed
                                                td User
                                                td Confirmed
                                                td 
                                                    btn.btn.btn-primary.btn-sm View
                                            tr
                                                td 3
                                                td Confirmed
                                                td User
                                                td Confirmed
                                                td
                                                    btn.btn.btn-primary.btn-sm View
                                                //- td Confirmed
                                            tr
                                                td 4
                                                td Confirmed
                                                td User
                                                td Confirmed
                                                td
                                                    btn.btn.btn-primary.btn-sm View
                                                //- td Confirmed