extends layout/login-layout

block content
    section.login-screen-sec
        .container
            .login-screen
                a(href='/')
                    img.img-responsive(src='images/logo.png', alt='')
                form#userAddForm(accept-charset='utf-8', method='post', name='userAddForm', action='/forget-password')
                    -if(messages.msg_error)
                        .alert.alert-danger #{messages.msg_error}
                    -else if(messages.msg_info)
                        .alert.alert-success #{messages.msg_info}
                    input.form-control(type='email', placeholder='Your Email *' name='email' required)
                    button.btn.btn-login(type='submit') Submit
                    span
                        a(href='/login')  Login
