doctype html
html
  head
    meta(charset='utf-8')
    title Home (App)
    meta(content='Startup Template - Webflow Responsive Website Template', name='description')
    meta(content='Home (App)', property='og:title')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='Webflow', name='generator')
    link(href='front-html/css/font.css', rel='stylesheet', type='text/css')
    link(href='front-html/css/style.css', rel='stylesheet', type='text/css')
    link(href='front-html/css/custom.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='front-html/css/fullpage.css')
    //- if lt IE 9
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js', type='text/javascript')
    
  body     
    .navbar.w-nav(data-collapse='medium', data-animation='over-right', data-duration='200', data-doc-height='1')
      .container-2.w-container
        a.logo-block.no-menu.w-nav-brand.w--current(href='/')
          img.logo.responsive-menu(src='front-html/img/5d080a0ab9825e51fa2610d7_PLM-Web-White%20(1).png', width='150', alt='')
        |                 
        nav.right-nav-menu.w-nav-menu(role='navigation')
          ul#menu
            li(data-menuanchor='section1 active')
              a.nav-link.w-nav-link(href='#section1')
                | Home
            |                         
            li(data-menuanchor='section2')
              a.nav-link.w-nav-link(href='#section2')
                | Why plm
            |                         
            li.none(data-menuanchor='section3')
              a.nav-link.w-nav-link(href='#section3')
                | Why plm
            |                         
            li.none(data-menuanchor='section4')
              a.nav-link.w-nav-link(href='#section4')
                | Why plm
            |                         
            li.none(data-menuanchor='section5')
              a.nav-link.w-nav-link(href='#section5')
                | Why plm
            |                     
            li(data-menuanchor='section6')
              a.nav-link.w-nav-link(href='#section6')
                | Features
            |                         
            li.none(data-menuanchor='section7')
              a.nav-link.w-nav-link(href='#section7')
                | contact
            |  
            li(data-menuanchor='section8')
              a.nav-link.w-nav-link(href='#section8')
                | contact
            |                         
            li.none(data-menuanchor='section9')
              a.nav-link.w-nav-link(href='#section9')
                | contact
                                    
            
          |                     
          .nav-button-container
            a.button.first.w-button(href='/login')
              | Login
            |                         
            a.button.w-button(href='/sign-up')
              | Sign Up
        |                 
        .menu-button.w-nav-button
          .w-icon-nav-menu
    |         
    #fullpage
      .section
        .iphone-hero
          .container.hero-container.w-container
            .hero-mockup-description-block
              .small-hero-intro-title(data-ix='fade-in-on-load')
                | Our App Is Coming Soon!
              |                             
              h1.white-hero-title(data-ix='fade-in-on-load-2')
                | The new standard for resource planning
              |                             
              p.hero-description(data-ix='fade-in-on-load-3')
                | Professional Labor Management is the best software tool for staffing  projects related to material handling in the supply chain industry. We manage everything from cost projections and time tracking to built-in performance reviews and pinpointing locations giving you ultimate control and the most flexible options to customize and build a team that fits your needs.
              |                             
              a.button.icon-button.download.green.w-button(href='#why-plm', data-ix='fade-in-on-load-4')
                | Learn more
              |                             
              a.button.icon-button.download.green.w-button(href='#', data-ix='fade-in-on-load-4')
                | Register Now
      |             
      .section
        .tint.overflow-none
          .container.w-container
            .info-block-left.pd-50
              .section-title-wrapper.full
                h2.section-title
                  | Why PLM?
                |                                 
                .section-description
                  | Professional Labor Management isn &apos;t simply a staffing company that dispatches technicians to job sites. We focus on empowering the leaders of this industry giving them the tools necessary to make their projects more efficient, profitable and most importantly, safe. 
                  br
                  |                                     
                  br
                  | This product is built by professionals who face the same obstacles within this industry. We understand the existing challenges and have sought to provide an effective solution to render these hurdles obsolete. To learn more about the product, view some of our featured highlights below.
          |                     
          .container-3.centered.w-container
            .blocks-row.w-row
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Budget Prediction
                  |                                     
                  p.color-block-paragraph
                    | Receive a price estimate prior to making a commitment to move forward
                  |                                     
                  img.color-block-icon.budget(src='front-html/img/5d0fa9344c92b4806e20bfa3_Budget-Forecast.png', alt='')
              |                             
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Time Tracking
                  |                                     
                  p.color-block-paragraph
                    | Track man hours using a built in time tracker for all PLM technicians
                  |                                     
                  img.color-block-icon(src='front-html/img/5d0fa9344c92b463d620bfa2_Time-Tracking.png', alt='')
              |                             
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Performance Ratings
                  |                                     
                  p.color-block-paragraph
                    | Choose your techs based on their stats rated by previous lead technicians
                  |                                     
                  img.color-block-icon(src='front-html/img/5d0fa9344713b0dbc843d27b_Performance-Rating.png', alt='')
            |                         
            .blocks-row.w-row
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Location Tracking
                  |                                     
                  p.color-block-paragraph
                    | Receive updates when a technician is on the way to a job site
                  |                                     
                  img.color-block-icon(src='front-html/img/5d0fa9344713b04a7a43d27c_Location-Tracking.png', alt='')
              |                             
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Quality Assurance
                  |                                     
                  p.color-block-paragraph
                    | Powerful background analysis of each individual on your team
                  |                                     
                  img.color-block-icon.budget(src='front-html/img/5d0fa9344713b03f7f43d27d_Quality-Assurance.png', alt='')
              |                             
              .block-column.w-col.w-col-4
                a.color-block.w-inline-block(href='#')
                  .color-block-title
                    | Weekly Forecasts
                  |                                     
                  p.color-block-paragraph
                    | View weekly cost projections to keep your projects under budget
                  |                                     
                  img.color-block-icon(src='front-html/img/5d0fa91a0d9cdd22c865af58_Budget-Prediction.png', alt='')
            |                         
            .bottom-paragraph
              strong
                | Interested in learning more? Don &apos;t hesitate to
              |     
              li.custom-inline(data-menuanchor='section8')
                strong
                  a(href='#section8') contact
      |             
                 
      .section.sectioncustom-div
        .section-2
          .container.w-container
            .section-title-wrapper.small-title
                .small-section-title
                | Our Technicians Have Experience with leading companies in The Material Handling industry
            |                         
            .logos-row.w-row       
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.walmart(src='front-html/img/5d0e6299e5d1e7781531d3ad_walmart.jpg', alt='')
                | 
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.homegoods(src='front-html/img/5d0e62ace5d1e72c5e31d3ba_homegoods.png', alt='')
                |                         
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.walgreens(src='front-html/img/5d0e627d41baf24f150afa8b_walgreens.png', alt='')
                |                         
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.amazon(src='front-html/img/5d0e626ce5d1e7388531d375_amazon-removebg-preview.png', alt='')
                |                         
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.tesla(src='front-html/img/5d0fb83f0d9cdda52e65e8db_tesla.jpg', alt='')
                |                         
              .logo-column.w-col.w-col-2.w-col-small-4.w-col-tiny-4
                img.client-logo.bedbath(src='front-html/img/5d0e62be41baf209770afb79_bedbathbeyond.png', width='140', alt='')
        
        div.pb-80
          .testimonial-slider.w-slider(data-delay='6000', data-animation='slide', data-autoplay='1', data-duration='1000', data-infinite='1')
            .w-slider-mask
              .testimonial-slide.w-slide
                .container.testimonial-container.w-container
                  .testimonial-block
                    p.testimonial-quote
                      
                      | &quot;I was taught that, even if you dig ditches for a living, you be the best at whatever it is you do and you will always succeed. If it isn &apos;t the best it can be then it isn &apos;t good enough! &quot;
                    |                                         
                    .testimonial-info-block
                      .testimonial-name.green
                        | Matt Wilkerson
                      |                                             
                      .testimonial-name.subtitle
                        | Co-Founder at Professional Labor Management
              |                             
              .testimonial-slide.w-slide
                .container.testimonial-container.w-container
                  .testimonial-block
                    p.testimonial-quote
                      | &quot;This product is built by those who face the same the struggles and obstacles we all face in this industry. We understand from experience the challenges that exist and seek to provide an effective solution to render these hurdles obsolete.&quot;
                    |                                         
                    .testimonial-info-block
                      .testimonial-name
                        | Stephen Halstead
                      |                                             
                      .testimonial-name.subtitle
                        | General Manager at Professional Labor Management
            |                         
            .testimonial-slider-arrow.w-hidden-medium.w-hidden-small.w-hidden-tiny.w-slider-arrow-left
              .w-icon-slider-left
            |                         
            .testimonial-slider-arrow.w-hidden-medium.w-hidden-small.w-hidden-tiny.w-slider-arrow-right
              .w-icon-slider-right
            |                         
            .w-hidden-main.w-hidden-medium.w-hidden-small.w-hidden-tiny.w-slider-nav.w-round
      |             
      .section
        .app-info-section.pd-100
          .container.w-container
            .info-block-right.app-info
              .section-title-wrapper.full.info
                img.device-mockup-left(src='front-html/img/5d0e41e08a9068e6f50136af_tech-at-your-fingertips.png', width='430', alt='')
                |                                 
                .small-section-title
                  | Our App Is Coming Soon!
                |                                 
                h2.section-title.large
                  | What &apos;s all the commotion about?
              |                             
              .section-description
                | Choosing skilled technicians for your upcoming projects just got easier than ever before. With access to features not available anywhere else, you can put your mind at ease now having full control over your hiring and technical needs.
              |                             
              a.button.icon-button.download.w-button(href='#subscribe')
                | Join The Waiting List!
      |             
      .section
        .bottom-space
          .container.w-container
            .section-title-wrapper.full-centered.pd-30
              h2.section-title
                | Top notch technicians, only a click away.
              |                             
              .section-description
                | Hit play to view the app.
            |                         
            a.video-lightbox.w-inline-block.w-lightbox(href='#')
              .video-lightbox-block
                .video-lightbox-overlay
                  .video-lightbox-button.green
                    img.video-lightbox-icon(src='front-html/img/5ce7a5019dad45fa8cecf2ab_Icon-play-white.png', alt='')
              |                             
              script.w-json(type='application/json').
                {
                "items": [
                {
                "type": "image",
                "_id": "5d0d1d91d5108c2cb6a1cc66",
                "fileName": "Screen Shot 2019-06-21 at 2.09.49 PM.png",
                "origFileName": "Screen Shot 2019-06-21 at 2.09.49 PM.png",
                "width": 2802,
                "height": 1698,
                "fileSize": 1503634,
                "url": "img/5d0d1d91d5108c2cb6a1cc66_Screen%20Shot%202019-06-21%20at%202.09.49%20PM.png"
                }
                ]
                }
      |             
      .section
        .container.w-container
          #features.top-line-block
            h1.section-title Features
            |                         
            .text-row.w-row
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon.budget(src='front-html/img/5d0fa9344c92b4806e20bfa3_Budget-Forecast.png', alt='')
                |                                 
                .text-column-title Budget Prediction
                |                                 
                p.small-paragraph
                  | Before making a final decision when selecting candidates to join your team, you will get a projected cost for each week as well as for duration of your project.
              |                             
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa9344c92b463d620bfa2_Time-Tracking.png', alt='')
                |                                 
                .text-column-title Time Tracking
                |                                 
                p.small-paragraph
                  | Manually tracking time will be a thing of the past. Now technicians can clock in with the click of a button, and tech leads can view the hours in real time on a weekly basis.
              |                             
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon.budget(src='front-html/img/5d0fa9344713b03f7f43d27d_Quality-Assurance.png', alt='')
                |                                 
                .text-column-title Quality Assurance
                |                                 
                p.small-paragraph
                  | Having responsible people on your team is important. We verify every employee by checking their driving, credit, and criminal history. Responsible candidates create a seamless and statistically safer work environment.
              |                             
              .text-column.last.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa9344c92b424f220bfa1_Intuitive-Scheduling.png', alt='')
                |                                 
                .text-column-title Intuitive Scheduling
                |                                 
                p.small-paragraph
                  | See a list of available technicians, locally or nationally, based on your project &apos;s start and end dates. Techs who aren &apos;t available simply won &apos;t appear in search results. This helps avoid overbooking and unnecessary phone and email communications.
          |                     
          .top-line-block
            .text-row.w-row
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa9344713b0dbc843d27b_Performance-Rating.png', alt='')
                |                                 
                .text-column-title Performance Rating
                |                                 
                p.small-paragraph
                  | View a list of ratings for each technician based on jobs they have previously worked. We give you the power to know who you will be working with before making a commitment.
              |                             
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa9344713b04a7a43d27c_Location-Tracking.png', alt='')
                |                                 
                .text-column-title Location Tracking
                |                                 
                p.small-paragraph
                  | Once you have selected a technician, you will receive a notification alerting you that they are on the way. With our ability to sync to a technician &apos;s location, you can accurately know their current whereabouts and availability.
              |                             
              .text-column.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa934041742f6077d134d_Custom-Staffing.png', alt='')
                |                                 
                .text-column-title custom Staffing
                |                                 
                p.small-paragraph
                  | With filtering options that allow you to select technicians based on skill level, performance ratings or distance, staffing your projects have never been more straight forward. PLM easily fits your needs in projecting costs, knowing the projected cost before you even hit &quot;Submit.&quot;
              |                             
              .text-column.last.w-clearfix.w-col.w-col-3
                img.info-icon(src='front-html/img/5d0fa91a0d9cdd22c865af58_Budget-Prediction.png', alt='')
                |                                 
                .text-column-title Weekly Forecasts
                |                                 
                p.small-paragraph
                  | Export files associated with actual cost projections and time-sheets after each work week has passed. We simplify valuable data transfer to view your project &apos;s progress.
      |             
      .section(style='padding:0')
        .container.w-container
          #subscribe.newsletter-form.w-form
            form#wf-form-Newsletter-Form(name='wf-form-Newsletter-Form', data-name='Newsletter Form')
              .newsletter-row.w-row
                .newsletter-column-left.w-col.w-col-5
                  h2.section-title.newsletter-title Subscribe Now!
                  |                                     
                  .section-description.faded
                    | Receive email notifications when the app is officially released.
                |                                 
                .newsletter-column-right.w-clearfix.w-col.w-col-7
                  input#email.newsletter-field.w-input(type='email', name='email', data-name='Email', placeholder='Enter your email address', maxlength='256', required='')
                  |                                     
                  input.newsletter-submit.w-button(type='submit', value='Submit', data-wait='Please wait...')
            |                         
            .success-message.transparant.w-form-done
              p Thank you! Your submission has been received!
            |                         
            .error-bg.w-form-fail
              p Oops! Something went wrong while submitting the form
      |             
      .section(style='padding-top:0')
        .image-section.get-the-app
          .image-section-overlay
            #contact.container.w-container
              .image-section-overlay-block
                .image-section-overlay-title Expert software at your fingertips
                |                                 
                .image-section-overlay-title.subtitle
                  | From electricians, millwrights, and welders to complete large scale installs, PLM can help you manage your labor needs nationwide.
            |                         
            .container.contact.w-container
              .white-contact-form.w-form(data-ix='fade-in-on-load-2')
                form#wf-form-Email-Form-2(name='wf-form-Email-Form-1', data-name='Email Form 1')
                  h1.form-title Contact us now
                  |                                        
                  h2.form-title.subtitle Do you have a question? Contact us now.
                  |                                        
                  label.field-label(for='name') Name:
                  |                                        
                  input#name.field.rounded.w-input(type='text', name='name', data-name='Name', maxlength='256')
                  |                                        
                  label.field-label(for='Email-2') Email address:
                  |                                        
                  input#Email-2.field.rounded.w-input(type='email', name='Email-2', data-name='Email 2', maxlength='256', required='')
                  |                                        
                  label.field-label(for='Message') Your message:
                  |                                        
                  textarea#Message.field.rounded.area.w-input(name='Message', maxlength='5000', data-name='Message')
                  |                                        
                  input.button.w-button(type='submit', value='Send Email', data-wait='Please wait...')
                |                                 
                .success-message.w-form-done
                  p Thank you! Your submission has been received!
                |                                 
                .error-bg.w-form-fail
                  p Oops! Something went wrong while submitting the form
              |                             
              .contact-info-block-right
                .contact-info-block(data-ix='fade-in-on-load-3')
                  .contact-info-small-block
                    .small-contact-info-title Email
                    |                                       
                    p.contact-info-description goplmtoday@gmail.com
                  |                                     
                  .contact-info-small-block
                    .small-contact-info-title Phone number
                    |                                       
                    p.contact-info-description 816.389.0192
                  |                                     
                  .contact-info-small-block.support
                    .small-contact-info-title Support
                    |                                         
                    p.contact-info-description
                      | If you have concerns or questions, please reach out and we will put you in touch with our administrative team. We are happy to help you identify your needs and see how we can assist your future endeavors.
      |             
                  
      .section(style='padding-bottom:0px;')
        div.pd-100
          .white-cta-section
            .container.w-container
              h4.dark-cta-title
                | Join the companies across the nation talking about Professional Labor Management today. With highly skilled technicians, ranging from Supervisors and Foremans to trained entry level candidates, there is no job too big or small outside our ability to help you achieve your management goals.
                span.text-span.text-span
                  | Sign up today to join our waiting list
              |                         
              li.custom-inline.float-right(data-menuanchor='section7')
                a.button.cta-button.w-button.width-100(href='#section7') Get Started now
      
        .simple-footer.facebook
          .container.w-container
            .footer-row.w-row
              .footer-logo-column-left.w-col.w-col-3
                .footer-logo PLM
                |                                 
                .footer-logo.subtitle Professional Labor Management
              |                             
              .footer-menu-column.w-col.w-col-6
                ul#menu
                  li(data-menuanchor='section1 active')
                    a.nav-link.w-nav-link(href='#section1')
                      | Home
                  |                         
                  li(data-menuanchor='section2')
                    a.nav-link.w-nav-link(href='#section2')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section3')
                    a.nav-link.w-nav-link(href='#section3')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section4')
                    a.nav-link.w-nav-link(href='#section4')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section5')
                    a.nav-link.w-nav-link(href='#section5')
                      | Why plm
                  |                     
                  li(data-menuanchor='section6')
                    a.nav-link.w-nav-link(href='#section6')
                      | Features
                  |                         
                  li.none(data-menuanchor='section7')
                    a.nav-link.w-nav-link(href='#section7')
                      | contact
                  |  
                  li(data-menuanchor='section8')
                    a.nav-link.w-nav-link(href='#section8')
                      | contact
                  |                         
                  li.none(data-menuanchor='section9')
                    a.nav-link.w-nav-link(href='#section9')
                      | contact
          
              |                          
              .footer-social-col-right.w-col.w-col-3
                a.footer-social-icon.facebook.w-inline-block(href='http://www.facebook.com', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad453db0ecf2aa_Icon-facebook.png', alt='')
                |                                 
                a.footer-social-icon.twitter.w-inline-block(href='http://www.twitter.com', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad450bcbecf31b_Icon-twitter.png', alt='')
                |                                 
                a.footer-social-icon.google.w-inline-block(href='https://mail.google.com/mail', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad4550e1ecf304_Icon-google.png', width='15', alt='')
          |                     
          .simple-bottom-footer
            .container.w-container
              p.bottom-footer-paragraph
                strong(data-new-link='true')
                  | Copyright &copy; Professional Labor Management
                |                                 - All Rights Reserved 2019\
              |                             
              p.bottom-footer-paragraph.right
                | Design by  -
                a.bottom-footer-link(target='_blank', href='#')
                  | Wilkerson Staffing LLC
    |         
    script(src='front-html/js/jquery-3.4.1.min.js', type='text/javascript')
    //if lte IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
    |         
    script(src='front-html/js/fullpage.js')
    |         
    script(type='text/javascript').
      var myFullpage = new fullpage('#fullpage', {
     
      anchors: ['section1', 'section2', 'section3', 'section4', 'section5', 'section6', 'section7', 'section8', 'section9', 'section10'],
      menu: '#menu'
      });
    |         
    script(src='front-html/js/script.js', type='text/javascript')
