doctype html
html
  head
    meta(charset='utf-8')
    title Professional Labor Management
    meta(content='Startup Template - Webflow Responsive Website Template', name='description')
    meta(content='Home (App)', property='og:title')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(content='Webflow', name='generator')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='front-html/css/font.css', rel='stylesheet', type='text/css')
    link(href='front-html/css/style.css', rel='stylesheet', type='text/css')
    link(href='front-html/css/custom.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='front-html/css/fullpage.css')
    //- if lt IE 9
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js', type='text/javascript')
    
  body     
    .navbar.w-nav(data-collapse='medium', data-animation='over-right', data-duration='200', data-doc-height='1')
      .container-2.w-container
        a.logo-block.no-menu.w-nav-brand.w--current(href='/')
          img.logo.responsive-menu(src='front-html/img/5d080a0ab9825e51fa2610d7_PLM-Web-White%20(1).png', width='150', alt='')
        |                 
        nav.right-nav-menu.w-nav-menu(role='navigation')
          ul#menu
            li(data-menuanchor='section1 active')
              a.nav-link.w-nav-link(href='/#section1')
                | Home
            |                         
            li(data-menuanchor='section2')
              a.nav-link.w-nav-link(href='/#section2')
                | Why plm
            |                         
            li.none(data-menuanchor='section3')
              a.nav-link.w-nav-link(href='/#section3')
                | Why plm
            |                         
            li.none(data-menuanchor='section4')
              a.nav-link.w-nav-link(href='/#section4')
                | Why plm
            |                         
            li.none(data-menuanchor='section5')
              a.nav-link.w-nav-link(href='/#section5')
                | Why plm
            |                     
            li(data-menuanchor='section6')
              a.nav-link.w-nav-link(href='/#section6')
                | Features
            |                         
            li.none(data-menuanchor='section7')
              a.nav-link.w-nav-link(href='/#section7')
                | contact
            |  
            li(data-menuanchor='section8')
              a.nav-link.w-nav-link(href='/#section8')
                | contact
            |                         
            li.none(data-menuanchor='section9')
              a.nav-link.w-nav-link(href='/#section9')
                | contact
                                    
            
          |                     
          .nav-button-container
            a.button.first.w-button(href='/login')
              | Login
            |                         
            a.button.w-button(href='/sign-up')
              | Sign Up
        |                 
        .menu-button.w-nav-button
          .w-icon-nav-menu
    |         
    #fullpage
      .section(style='padding-bottom:0px;')
        div.pd-100
          .white-cta-section
            .container.w-container
              h2
                | Terms of Use
              h4
                | 1. Scope
              p
                | 1. Any use of this website provided by Wilkerson Staffing, LLC dba Professional Labor Management “PLM” and/or its affiliates ("PLM"), "PLM Website", is subject to these Terms of Use. These Terms of Use may be amended, modified or replaced by other terms and conditions, e.g. for the purchase of products and services. With log-in, or where a log-in is not required, in accessing or using the PLM Website these Terms of Use are accepted in their then current version. 
              p
                | 2. In the case of Web offers aimed at companies or public enterprises, such companies or enterprises are represented by the user and must assume that the user has appropriate knowledge and acts accordingly.
              h4
                | 2. Services
              p
                | 1. This PLM Website contains specific information and software, as well as - as the case may be - related documentation, for viewing or downloading. 
              p
                | 2. PLM may stop the operation of the PLM website in full or in part at any time. Due to the nature of the internet and computer systems, PLM cannot accept any liability for the continuous availability of the PLM Website.
              h4
                | 3. Registration, Password
              p
                | 1. Some pages of the PLM Website may be password protected. In the interest of safety and security of the business transactions, only registered Users may access said pages. PLM reserves the right to deny registration to any User. PLM particularly reserves the right to determine certain sites, which were previously freely accessible, subject to registration. PLM is entitled, at any time and without obligation to give reasons, to deny the User the right to access the password-protected area by blocking its User Data (as defined below), in particular if the User uses false data for the purpose of registration; violates these Terms of Use or neglects its duty of care with regard to User Data; violates any applicable laws in the access to or use of the PLM Website; or did not use the PLM Website for a longer period. 
              p
                | 2. For registration the User shall give accurate information and, where such information changes over time, update such information (to the extent possible: online) without undue delay. The User shall ensure that its e-mail address, as supplied to PLM, is current at all times and an address at which the User can be contacted.
              p
                | 3. The User shall ensure that User Data is not accessible by third parties and is liable for all transactions and other activities carried out under its User Data. At the end of each online session, the User shall log-off from the password protected websites. If and to the extent the User becomes aware that third parties are misusing its User Data the User shall notify PLM thereof without undue delay in writing, or, as the case may be, by email. 
              p
                | 4. After receipt of the notice under paragraph 3.4, PLM will deny access to the password-protected area under such User Data. Access by the User will only be possible again upon the User's application to PLMt or upon new registration. 
              p
                | 5. The User may at any time request termination of its registration in writing, provided that the deletion will not violate the proper performance of contractual relationships. In such event PLM will remove all user data and other stored personally identifiable data of the User as soon as these data are no longer needed. 
              h4
                | 4.  Rights of Use of Information, Software and Documentation
              p
                | 1. The use of any information, software and documentation made available on or via this PLM Website is subject to these Terms of Use or, in case of updating information, software or documentation, subject to the applicable license terms previously agreed to with PLM. Separately agreed to license terms, for example software downloads, shall prevail over these Terms of Use. 
              p
                | 2. PLM grants User a non-exclusive and non-transferable license, which may not be sublicensed, to use the information, software and documentation made available to the User on or via the PLM Website to the extent agreed, or in the event of no such agreement to the extent of the purpose intended by PLM in making same available.
              p
                | 3. Software shall be made available at no expense in object code. There shall be no right for the source code to be made available. This shall not apply to source code related to open source software, which license conditions take priority over these Terms of Use in the case of transfer of open source software and which conditions require the making available of the source code. In such case PLM shall make the source code available in return for the payment of costs. 
              p
                | 4. Information, software and documentation may not be distributed by the User to any third party at any time nor may it be rented or in any other way made available. Unless such is allowed by mandatory law, the User shall not modify the software or documentation nor shall it disassemble, reverse engineer or decompile the software or separate any part thereof. The User may make one backup copy of the software where necessary to secure further use in accordance with these Terms of Use. 
              p
                | 5. The information, software and documentation are protected by copyright laws as well as international copyright treaties as well as other laws and conventions related to intellectual property. The User shall observe such laws and in particular shall not modify, conceal or remove any alphanumeric code, marks or copyright notices neither from the information nor from the software or documentation, or any copies thereof. 
              p
                  | 6. Copyright Law shall not be affected hereby.
              h4
                | 5. Intellectual Property
              p
                | 1. Notwithstanding the particular provisions in § 4 of these Terms of Use, information, brand names and other contents of the PLM Website may not be changed, copied, reproduced, sold, rented, used, supplemented or otherwise used in any other way without the prior written permission of PLM.
              p
                | 2. Except for the rights of use and other rights expressly granted herein, no other rights are granted to the User nor shall any obligation be implied requiring the grant of further rights. Any and all patent rights and licenses are expressly excluded. 
              h4
                | 6. Duties of the User
              p
                | 1. In accessing or using the PLM Website the User shall not harm other persons, in particular minors, or infringe their personal rights; 
                | breach public morality in its manner of use; 
                | violate any intellectual property right or any other proprietary right; 
                | upload any contents containing a virus, so-called Trojan Horse, or any other  program that could damage data; 
                | transmit, store or upload hyperlinks or contents to which the User is not entitled, in particular in cases where such hyperlinks or contents are in breach of confidentiality obligations or unlawful; or 
                | distribute advertising or unsolicited emails (so-called "spam") or inaccurate warnings of viruses, defects or similar material and the User shall not solicit or request the participation in any lottery, snowball system, chain letter, pyramid game or similar activity.
              p
                | 2. PLM may deny access to the PLM Website at any time, in particular if the User breaches any obligation arising from these Terms of Use.
              h4
                | 7. Hyperlinks
              p
                | The PLM Website may contain hyperlinks to the web pages of third parties. PLM shall have no liability for the contents of such web pages and does not make representations about or endorse such web pages or their contents as its own, as PLM does not control the information on such web pages and is not responsible for the contents and information given thereon. The use of such web pages shall be at the sole risk of the User.
              h4
                | 8. Hyperlinks
              p
                | 1. Insofar as any information, software or documentation is made available at no cost, any liability for defects as to quality or title of the information, software and documentation especially in relation to the correctness or absence of defects or the absence of claims or third party rights or in relation to completeness and/or fitness for purpose are excluded except for cases involving wilful misconduct or fraud. 
              p
                | 2. The information on the PLM Website may contain specifications or general descriptions related to the technical possibilities of individual products which may not be available in certain cases (e.g. due to product changes). The required performance of the product shall therefore be mutually agreed in each case at the time of purchase.
              h4
                | 9. Other Liability, Viruses
              p
                | 1. The liability of PLM for defects in relation to quality and title shall be determined in accordance with the provisions of § 8 of these Terms of Use. Any further liability of PLM is excluded unless required by law, e.g. under the Act on Product Liability or in cases of wilful misconduct, gross negligence, personal injury or death, failure to meet guaranteed characteristics, fraudulent concealment of a defect or in case of breach of fundamental contractual obligations. The damages in case of breach of fundamental contractual obligations is limited to the contract-typical, foreseeable damage if there is no wilful misconduct or gross negligence. 
              p
                | 2. Although PLM makes every endeavour to keep the PLM Website free from viruses, PLM cannot make any guarantee that it is virus-free. The User shall, for its own protection, take the necessary steps to ensure appropriate security measures and shall utilise a virus scanner before downloading any information, software or documentation. 
              p
                | 3. §§ 9.1 and 9.2 do not intend nor imply any changes to the burden of proof to the User's disadvantage.
              h4
                | 10. Export Controls
              p
                | 1. The export of certain information, software and documentation may, e.g. due to its nature or intended use or final destination, be subject to authorization. The User shall strictly conform with the export regulations for information, software and documentation. 
              p
                | 2. Access to software, documentation and information on the PLM Website shall only take place if such conforms with the above checks and guarantees. Where the User does not comply with the above, PLM shall not be obliged to perform.
              p
                | 3. Upon request PLM shall inform the User of the relevant contact points for further information. 

              a.custom-link(href='#data-link')
                  h4
                   | 11.Data Privacy Protection
              p
                | For collection, use and processing of personally identifiable data of the User of the PLM Website, PLM shall comply with applicable laws on data privacy protection according to the law of July 28, 2011 and the PLM Website Data Protection Privacy Policy, which is available per hyperlink on the PLM Website and/or on
               

                span.text-span.text-span
                  a.width-100.m-l-10(href='www.useplm.com') www.useplm.com
              
      
      .section.footer-section
        .simple-footer.facebook
          .container.w-container
            .footer-row.w-row
              .footer-logo-column-left.w-col.w-col-3
                .footer-logo PLM
                |                                 
                .footer-logo.subtitle Professional Labor Management
              |                             
              .footer-menu-column.w-col.w-col-7
                ul#menu
                  li(data-menuanchor='section1 active')
                    a.nav-link.w-nav-link(href='/#section1')
                      | Home
                  |                         
                  li(data-menuanchor='section2')
                    a.nav-link.w-nav-link(href='/#section2')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section3')
                    a.nav-link.w-nav-link(href='/#section3')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section4')
                    a.nav-link.w-nav-link(href='/#section4')
                      | Why plm
                  |                         
                  li.none(data-menuanchor='section5')
                    a.nav-link.w-nav-link(href='/#section5')
                      | Why plm
                  |                     
                  li(data-menuanchor='section6')
                    a.nav-link.w-nav-link(href='/#section6')
                      | Features
                  |                         
                  li.none(data-menuanchor='section7')
                    a.nav-link.w-nav-link(href='/#section7')
                      | contact
                  |  
                  li(data-menuanchor='section8')
                    a.nav-link.w-nav-link(href='/#section8')
                      | contact
                  |                         
                  li.none(data-menuanchor='section9')
                    a.nav-link.w-nav-link(href='/#section9')
                      | contact
                  |  
                  li(data-menuanchor='section10')
                    a.nav-link.w-nav-link(href='/terms&conditions')
                      | terms & conditions
          
              |                          
              .footer-social-col-right.w-col.w-col-2
                a.footer-social-icon.facebook.w-inline-block(href='http://www.facebook.com', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad453db0ecf2aa_Icon-facebook.png', alt='')
                |                                 
                a.footer-social-icon.twitter.w-inline-block(href='http://www.twitter.com', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad450bcbecf31b_Icon-twitter.png', alt='')
                |                                 
                a.footer-social-icon.google.w-inline-block(href='https://mail.google.com/mail', target='_blank')
                  img.footer-small-social-icon(src='front-html/img/5ce7a5019dad4550e1ecf304_Icon-google.png', width='15', alt='')
          |                     
          .simple-bottom-footer
            .container.w-container
              p.bottom-footer-paragraph
                strong(data-new-link='true')
                  | Copyright &copy; Professional Labor Management
                |                                 - All Rights Reserved 2019\
              |                             
              p.bottom-footer-paragraph.right
                | Design by  -
                a.bottom-footer-link(target='_blank', href='#')
                  | Wilkerson Staffing LLC
    |         
    script(src='front-html/js/jquery-3.4.1.min.js', type='text/javascript')
    //if lte IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js')
    |         
         
    script(src='front-html/js/script.js', type='text/javascript')
