extends ./../../layout/hr-layout

block content
            #page-wrapper
                .row.page-titles
                    .col-md-5.align-self-center
                        h3.text-themecolor Hr
                    .col-md-7.align-self-center
                        ol.breadcrumb
                            li.breadcrumb-item.active Company - Dashboard
                .container-fluid
                    form#newSiteForm(accept-charset='utf-8', method='post', name='loginForm', action='/admin/hr/add-company', enctype='multipart/form-data')
                        -if(messages.msg_error)
                            .alert.alert-danger #{messages.msg_error}
                        -else if(messages.msg_info)
                            .alert.alert-success #{messages.msg_info}
                        .row
                            .col-md-12.col-sm-12
                                .card
                                        .card-header
                                            .row
                                                .col-sm-6
                                                    h4 About Company
                                        .card-body
                                            .row
                                                .col-md-12
                                                    .row
                                                        .col-sm-4
                                                            label Company Name
                                                                span.text-danger  *
                                                            input.form-control(type='text', name='company_name', spellcheck="false", required)
                                                        .col-sm-4
                                                            label Company Code
                                                                span.text-danger  *
                                                            input.form-control(type='text', name='company_code', spellcheck="false", required)
                                                        .col-sm-4
                                                            label Logo
                                                                span.text-danger  *
                                                            input.form-control(type='file', name='company_logo', accept='image/pdf/*',required)
                                                
                                                .col-sm-12
                                                    label Company Details
                                                    textarea#report.form-control.height-120.textarea(placeholder='Describe Company Details', name='description', minlength='5')
                                                        
                                        .col-md-12
                                            .text-right
                                                    button.btn.btn-success(type='submit') Submit & Exit
                    script(type='text/javascript').
                     $(document).ready(function(){
