extends ./../../layout/hr-layout

block content
                #page-wrapper
                    .row.page-titles
                        .col-md-5.align-self-center
                            h3.text-themecolor HR
                        .col-md-7.align-self-center
                            ol.breadcrumb
                                li.breadcrumb-item.active Dashboard
                    .container-fluid
                        .row
                            .col-md-4.col-sm-6.col-md-offset-2
                                .widget.standard-widget
                                    .row
                                        a.widget-caption.info(href='/admin/hr/edit-profile')
                                            .col-md-12.text-center
                                                .img-div
                                                    img(src='../../admin/img/profile.png')
                                                h4.text Edit Profile
                            .col-md-4.col-sm-6
                                .widget.standard-widget
                                    .row
                                        a.widget-caption.info(href='/admin/hr/view-technician')
                                            .col-md-12.text-center
                                                .img-div
                                                    img(src='../../admin/img/organize.png')
                                                h4.text View Technicians
