extends ./../../layout/supervisor-layout

block content
				#page-wrapper
					.row.page-titles
						.col-md-5.align-self-center
							h3.text-themecolor Supervisor
						.col-md-7.align-self-center
							ol.breadcrumb
								li.breadcrumb-item.active Dashboard
					.container-fluid
						-if(messages.msg_error)
							.alert.alert-danger #{messages.msg_error}
						-else if(messages.msg_info)
							.alert.alert-success #{messages.msg_info}
						.row
							.col-md-4.col-sm-6.col-md-offset-2
								.widget.standard-widget
									.row
										a.widget-caption.info(href='/admin/supervisor/edit-profile')
											.col-md-12.text-center
												.img-div
													img(src='../../admin/img/profile.png')
												h4.text Edit Profile
							.col-md-4.col-sm-6
								.widget.standard-widget
									.row
										a.widget-caption.info(href='/admin/supervisor/manage-sites')
											.col-md-12.text-center
												.img-div
													img(src='../../admin/img/map.png')
												h4.text Manage Sites
